<div class="user_page">
  <header class="user_page-header">
    <div class="yjContainer">
      <a href="">
        <div class="user_image"></div>
        <h2><% current_user.nickname %><span>さんのマイページ</span></h2><!--現在ログイン中のユーザー(ニックネーム表示)のマイページであることを表示-->
      </a>
    </div>
  </header>
  <div class="pt1em pb1em" id="contents">  <div id="main_cnt_wrapper">
    <div id="yjContentsBody">
      <div class="yjContainer">
        <ul class="user_page-contents">
          <li style="background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')">
            <div class="meta">
              <header>
                <div class="building_name">ホテル名</div>
                <span class="star"><span class="rating-star"><i class="star-actived rate-100"></i></span></span>
              </header>
              <div class="user_review">ホテルの感想</div>
            </div>
          </li>
          <li style="background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')">
            <div class="meta">
              <header>
                <div class="building_name">ホテル名</div>
                <span class="star"><span class="rating-star"><i class="star-actived rate-100"></i></span></span>
              </header>
              <div class="user_review">ホテルの感想</div>
            </div>
          </li>
          <li style="background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')">
            <div class="meta">
              <header>
                <div class="building_name">ホテル名</div>
                <span class="star"><span class="rating-star"><i class="star-actived rate-100"></i></span></span>
              </header>
              <div class="user_review">ホテルの感想</div>
            </div>
          </li>
          <li style="background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')">
            <div class="meta">
              <header>
                <div class="building_name">また別のホテル名</div>
                <span class="star"><span class="rating-star"><i class="star-actived rate-100"></i></span></span>
              </header>
              <div class="user_review">また別のホテルの感想</div>
            </div>
          </li>
          <li style="background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')">
            <div class="meta">
              <header>
                <div class="building_name">〜</div>
                <span class="star"><span class="rating-star"><i class="star-actived rate-100"></i></span></span>
              </header>
              <div class="user_review">〜</div>
            </div>
          </li>
          <li style="background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')">
            <div class="meta">
              <header>
                <div class="building_name">〜</div>
                <span class="star"><span class="rating-star"><i class="star-actived rate-100"></i></span></span>
              </header>
              <div class="user_review">〜</div>
            </div>
          </li>
          <li style="background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')">
            <div class="meta">
              <header>
                <div class="building_name">〜</div>
                <span class="star"><span class="rating-star"><i class="star-actived rate-100"></i></span></span>
              </header>
              <div class="user_review">〜</div>
            </div>
          </li>
          <li style="background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')">
            <div class="meta">
              <header>
                <div class="building_name">〜</div>
                <span class="star"><span class="rating-star"><i class="star-actived rate-100"></i></span></span>
              </header>
              <div class="user_review">〜</div>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>