<div class="user_page">
  <header class="user_page-header">
    <div class="yjContainer">
      <a href="">
        <div class="user_image"><%= image_tag 'https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfp1/v/t1.0-1/c32.0.127.127/10256953_450511921719235_7408583294706772933_n.jpg?oh=4b62cd6d72667f23c3c4781dfc763b61&oe=54D54A3C&__gda__=1423979953_5fc50daca871a07e83167f1afbc8d304' %></div>
        <h2>テスト太郎 <span>さんのマイページ</span></h2>
      </a>
    </div>
  </header>
  <div class="pt1em pb1em" id="contents">  <div id="main_cnt_wrapper">
    <div id="yjContentsBody">
      <div class="yjContainer">
        <ul class="user_page-contents">
          <li style="background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')">
            <div class="meta">
              <header>
                <div class="building_name">ホテル名</div>
                <span class="star"><span class="rating-star"><i class="star-actived rate-100"></i></span></span>
              </header>
              <div class="user_review">ホテルの感想</div>
            </div>
          </li>
          <li style="background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')">
            <div class="meta">
              <header>
                <div class="building_name">ホテル名</div>
                <span class="star"><span class="rating-star"><i class="star-actived rate-100"></i></span></span>
              </header>
              <div class="user_review">ホテルの感想</div>
            </div>
          </li>
          <li style="background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')">
            <div class="meta">
              <header>
                <div class="building_name">ホテル名</div>
                <span class="star"><span class="rating-star"><i class="star-actived rate-100"></i></span></span>
              </header>
              <div class="user_review">ホテルの感想</div>
            </div>
          </li>
          <li style="background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')">
            <div class="meta">
              <header>
                <div class="building_name">また別のホテル名</div>
                <span class="star"><span class="rating-star"><i class="star-actived rate-100"></i></span></span>
              </header>
              <div class="user_review">また別のホテルの感想</div>
            </div>
          </li>
          <li style="background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')">
            <div class="meta">
              <header>
                <div class="building_name">〜</div>
                <span class="star"><span class="rating-star"><i class="star-actived rate-100"></i></span></span>
              </header>
              <div class="user_review">〜</div>
            </div>
          </li>
          <li style="background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')">
            <div class="meta">
              <header>
                <div class="building_name">〜</div>
                <span class="star"><span class="rating-star"><i class="star-actived rate-100"></i></span></span>
              </header>
              <div class="user_review">〜</div>
            </div>
          </li>
          <li style="background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')">
            <div class="meta">
              <header>
                <div class="building_name">〜</div>
                <span class="star"><span class="rating-star"><i class="star-actived rate-100"></i></span></span>
              </header>
              <div class="user_review">〜</div>
            </div>
          </li>
          <li style="background-image: url('http://image.eiga.k-img.com/images/movie/80704/poster2/200.jpg?1407203842')">
            <div class="meta">
              <header>
                <div class="building_name">〜</div>
                <span class="star"><span class="rating-star"><i class="star-actived rate-100"></i></span></span>
              </header>
              <div class="user_review">〜</div>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>