<div class="user_page">
  <header class="user_page-header">
    <div class="yjContainer">
      <a href="">
        <div class="user_image"></div>
        <h2><% current_user.nickname %><span>さんのマイページ</span></h2><!--現在ログイン中のユーザー(ニックネーム表示)のマイページであることを表示-->
      </a>
    </div>
  </header>
  <div class="pt1em pb1em" id="contents">  <div id="main_cnt_wrapper">
    <div id="yjContentsBody">
      <div class="yjContainer">
        <ul class="user_page-contents">
          <%  current_user.reviews.each do |review| %>
          <li style="background-image: url(<%= review.building.image_url %>)"><!--建物の画像を表示-->
            <div class="meta">
              <header>
                <div class="building_name"><%= review.building.building_name %></div><!--建物の名前を表示-->
                <span class="star"><span class="rating-star"><i class="star-actived rate-100"></i></span></span>
              </header>
              <div class="user_review"><%= review.review %></div>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>