<div class="container-fluid page-title">
  <p class="page-title-text">削除が完了しました。</p><!--title-->
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4><a href="/users/<%= current_user.id %>">マイページへ</a></h4>
    </div>
    <div class="col-xs-12">
      <h4><a href="/">トップページへ</a></h4>
    </div>
  </div>
</div>